.container {
    margin-top: 2.5em;
    margin-bottom: 2.5em;

    &__links {
        margin-top: 1.25em;
    }

    &__desc {
        margin-top: 1.25em;
    }

    &__items {
        margin-top: 1.25em;
    }

}
