@import './easing-view';

.easing-view-collection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;

    @include media-breakpoint-only (lg) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-only (md) {
        grid-template-columns: repeat(3, 1fr);
    }
    @include media-breakpoint-down (sm) {
        grid-template-columns: repeat(1, 1fr);
    }

}
